Package: pg-tailnmail
Architecture: all
Maintainer:  <jaiswalvinny9@gmail.com>
Depends: perl, libnet-smtp-ssl-perl, libauthen-sasl-perl
Priority: optional
Version: 1.0.3
Description: Log file monitoring for PostgreSQL Server Logs (http://bucardo.org/downloads/tail_n_mail) 
